importFrom(graphics, plot)
exportClasses(clValid)
exportMethods(clusters, clusterMethods, nClusters, measNames, measures, optimalScores, plot, print, show, summary)
S3method(print,sota)
S3method(plot,sota)
export(clValid, sota, dunn, connectivity, BHI, BSI, stability, matchGO, getRanksWeights, annotationListToMatrix, readAnnotationFile)



            
